.wrapper{
    background-image: url('https://t4.ftcdn.net/jpg/02/71/71/53/240_F_271715382_9kTJItQsqf76w69pgzJRRQWATVFo4E34.jpg');
    height: 100vh;
    background-size: cover;
    
 }



.card{
    margin-top: 10px;
    border: none;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 40px;
    background: hsla(205, 40%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 40%, 30%, 1)0%, hsla(260, 29%, 36%, 1)100%)

}

.card h1,h4,label{
    color: white;
}