mat-form-field{
    width: 100%;
}  

.example-radio-group {
    /* display: flex; */
    flex-direction: column;
    margin: 15px 0;
    /* align-items: flex-start; */
  }
  
  .example-radio-button {
    margin: 5px;

  }
  
  .button-container{
    margin-left: 130px;
  }
  .button{
    margin: 10px
    /* border: 1px solid green; */
  }

 