.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  

  .navbar{
    background-color:#212529;
    /* background-color: 	#00203FFF; */
    /* background-color:#C71585 ; */
    /* background-color:#008080; */
  }
/* .wrapper{ */
  /* background-color:#40E0D0 ; */
 
  /* background-image: url('https://img.freepik.com/free-photo/fading-blue-background_53876-88684.jpg'); */
  /* background-size: cover; */
  /* background-color: #ADEFD1FF; */
  /* background-color:#111d4a ; */
  /* background: linear-gradient(90deg,hsla(260, 29%, 36%, 1)0%, rgb(5, 44, 71) 100%); */
  /* height: 200vh; */
/* }  */
